/* Html Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    vertical-align: bottom;
}

/* My code starts here */

:root {
    --background-color: rgb(238, 237, 235);
    --main-color: rgb(224, 204, 190);
    --main-color-hover: rgb(253, 237, 226);
    --main-text-color: rgb(116, 114, 100);
    --accenture-color: rgb(60, 54, 51);

    --main-font: "Ubuntu", sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    box-sizing: border-box;
}

button {
    font-family: var(--main-font);
    cursor: pointer;
    padding-inline: 0;
}

input {
    display: block;
}

select {
    display: block;
    cursor: pointer;
}

input[type="date"] {
    cursor: pointer;
}

#content {
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;

}

.header {
    height: 3rem;
    background-color: var(--accenture-color);
    grid-column: 1 / 3;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center ;
}

.header h2 {
    font-size: 1.3rem;
}

#sidebar {
    grid-row: 2 / 3;
    background-color: var(--main-color);
    /* height: 100%; */
    height: 100%;
    width: 15vw;
    padding-top: 15vh;
}

.project-div {
    height: 3rem;
    display: flex;
    justify-content: end;
}

#sidebar .hovered:not(.proj-selected) {
    background-color: var(--main-color-hover);
}

.project-button {
    background-color: transparent;
    border-style: none;
    display: block;
    text-align: right;
    font-size: 1.2rem;
    padding-right: 0.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-proj-btn {
    background: none;
    border-style: none;
    margin-left: 2rem;
    display: none;
}

.proj-selected {
    background-color: white;
}

.hovered .delete-proj-btn {
    display: block;
}


/* Main Display */

#main-display {
    
    /* margin: 10rem; */
    /* padding: 10rem; */
    margin-left: 10rem;
    height: 100%;
}

#project-info-container {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

#project-info-container input, h1 {
    font-size: 3.7rem;
    margin-right: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60vw;
}

#project-title.hovered {
    border-bottom: 3px;
    border-style: solid;
    cursor: pointer;
}

h3 {
    font-size: 1.4rem;
}

#task-container {
    display: grid;
    width: 80%;
}

#task-header {
    display: grid;
    grid-template-columns: 60% 1fr 2fr 1fr;
    width: 100%;
}

#task-header button {
    background: none;
    font-size: 1.2rem;
    border-style: none;
    text-align: left;
    font-weight: 600;
}

#existing-tasks {
    width: 100%;
    margin-bottom: 2rem;
}

.task-element {
    display: grid;
    width: 70vw;
    grid-template-columns: 60% 1fr 2fr 1fr;
    padding: 0.2rem;
    border-bottom: var(--main-text-color);
    border-bottom-width: 1px;
    border-style: solid;
    min-height: 4rem;
    height: auto;
    align-items: center;
}

p {
    color: var(--main-text-color);
}

#task-header p {
    color: var(--accenture-color);
}

.task-description {
    font-size: 0.9rem;
    margin-left: 1rem;
    padding-right: 2rem;
    text-wrap: wrap;
    word-wrap: break-word;

}

.task-title {
    color: var(--accenture-color);
    font-size: 1.3rem;
}

.task-btn-container {
    display: flex;
    width: 4.5rem;
    justify-content: space-between;
}

#existing-tasks button {
    height: 2rem;
    width: 2rem;
    border-style: none;
    background-color: var(--main-color);
    border-radius: 0.3rem;
}

.task-edit {
    background: url('img/edit_FILL0_wght400_GRAD0_opsz24.svg') center no-repeat;
}

.task-delete {
    background: url('img/close_FILL0_wght400_GRAD0_opsz24.svg') center no-repeat;
}

.new-task-button {
    background-color: var(--main-color);
    border-style: none;
    border-radius: 10px;
    font-size: 2.5rem;
    color: var(--main-text-color);
    height: 3rem;
    width: 3rem;
    place-self: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.new-task-button.hovered {
    height: 3.15rem;
    width: 3.15rem;
}


/*New task form*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998; 
    backdrop-filter: blur(2px);
}

#new-task-form {
    width: auto;
    height: auto;
    background-color: white;
    box-shadow:  0px 0px 10px 2px rgba(0,0,0,0.27);
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto auto;
}

#form-header {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

#select-host-project {
    background-color: var(--main-color);
    grid-row-start: 2;
    grid-row-end: 4;
    border-bottom-left-radius: 2rem;
    padding: 1rem;
    padding-top: 5rem;
    width: 100%;
}

#host-project {
    background-color: var(--main-color-hover);
    height: 2rem;
    padding: 0 0.4rem;
    margin-top: 1rem;
    border-style: none;
    font-family: var(--main-font);
    border-radius: 0.3rem;
    text-wrap: wrap;
    width: 10vw;
}

#task-properties-input {
    height: 100%;
    width: 100%;
    padding: 5rem 2rem 3rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 3fr 1fr;
    gap: 1.6rem;
    
}

#task-properties-input label {
    margin-bottom: 0.4rem;
    display: block;
}


input {
    outline: 0;
    border-width: 0 0 2px;
}


textarea {
    display: block;
    width: 100%;
    height: 80%;
    border-radius: 1rem;
    padding: 1rem;
}

#new-task-form label {
    font-size: 1.2rem;
}

#select-host-project label {
    display: block;
    font-size: 1rem;
    text-align: center;
}

#new-task-name {
    grid-column: 1 / 3;
}

#task-name {
    font-size: 2rem;
    width: 100%;
    text-overflow: ellipsis;
}

#new-task-description {
    grid-column: 1 / 3;
}

#task-priority {
    border-width: 0 0 2px;
    background-color: white;
    font-family: var(--main-font);
}


